
/*
div.app{
    text-align: center;
    margin-top: 50px;
}
div.app_title{
    font-weight: bold;
    font-size: x-large;
}
*/

.header{
    height: 100px;
}
.footer{
    text-align: center;
}

.app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 0 auto;
}

.app_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.app_title, .app_description, .app_connect {
    margin: 0;
    padding: 0 5px;
}

.app_title{
    font-weight: bold;
}

.app_subtitle{
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.app_target, .app_version, .app_date {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.app_target:last-of-type, 
.app_version:last-of-type, 
.app_date:last-of-type{
    border-bottom: none;
}

.esp-web-install-button {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.esp-web-install-button:hover {
    background-color: #0056b3;
}

.detail {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    max-width: 800px;
    margin: 0 auto;
}

.detail_title{
    font-weight: bold;
    font-size: x-small;
    min-width: 80px;
    color: gray;
}
.detail_description{
    font-size: x-small;
    color: gray;
}

@media (max-width: 600px) {
    .app {
        flex-direction: column;
        align-items: flex-start;
    }

    .esp-web-install-button {
        margin-left: 0;
        align-self: center;
    }

    .app_info {
        width: 100%;
        margin-bottom: 10px;
    }
}

.history {
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 50px;
    font-family: Arial, sans-serif;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 10px;
    /* background-color: #f9f9f9; */
  }
  
  .history_item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .history_item:last-child {
    border-bottom: none;
  }
  
  .history_date {
    font-weight: bold;
    color: #555;
    min-width: 150px;
  }
  
  .history_detail {
    color: #333;
    text-align: left;
    flex: 1;
    padding-left: 15px;
  }
  